In [1]:
from sklearn.linear_model import LogisticRegression
import numpy as np
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Jeepofun/Final-Project/main/Data/clean_num3.csv')
df = df.drop(columns=['Unnamed: 0'])
df = df.replace(r'^\s*$', np.nan, regex=True)
df = df.rename(columns={'Base_ Engine': 'Base_Engine'})
df.head()

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

,Base_Power,Mileage,Towing,Min_cargo_L,Front_headroom,Front_legroom,Rear_legroom,Rear_shoulder,Fuel_capacity,Batt,...,Seats_48,Seats_49,Seats_50,Seats_51,Seats_52,Seats_53,Seats_54,Seats_55,Name_cat,price_log
0,272.0,9.9,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,...,0,0,0,0,0,0,0,0,1,10.703357
1,272.0,9.9,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,...,0,0,0,0,0,0,0,0,1,10.703379
2,272.0,9.9,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,...,0,0,0,0,0,0,0,0,1,10.703402
3,272.0,9.9,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,...,0,0,0,0,0,0,0,0,1,10.703424
4,272.0,9.9,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,...,0,0,0,0,0,0,0,0,1,10.703447

In [2]:
base_lr = LogisticRegression(max_iter=1000)

y = df['Name_cat']
X = df.drop('Name_cat', axis=1)

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.3, shuffle=True)

In [4]:
base_lr.fit(X_train,y_train)

/Users/donmiller/Downloads/miniconda3/envs/py38/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=1000)

In [5]:
y_pred = base_lr.predict(X_test)

In [6]:
base_lr.score(X_test, y_test)

0.9218986957840462