In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/Jeepofun/Final-Project/main/Augmented%20Data.csv')
#df = df.drop(columns=['Unnamed: 0'])
df = df.replace(r'^\s*$', np.nan, regex=True)
df = df.rename(columns={'Base_ Engine': 'Base_Engine'})
df.head()

,Name,Base_price,Body_style,Seats,Base_Engine,Base_Power,Mileage,Drive,Towing,Min_cargo_L,Front_headroom,Front_legroom,Rear_legroom,Rear_shoulder,Fuel_capacity,Batt,Range
0,2021 Acura RDX,44505,SUV,5,Gasoline,272.0,9.9,AWD,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0
1,2021 Acura RDX,44506,SUV,5,Gasoline,272.0,9.9,AWD,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0
2,2021 Acura RDX,44507,SUV,5,Gasoline,272.0,9.9,AWD,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0
3,2021 Acura RDX,44508,SUV,5,Gasoline,272.0,9.9,AWD,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0
4,2021 Acura RDX,44509,SUV,5,Gasoline,272.0,9.9,AWD,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0

In [2]:
df.Body_style.value_counts()

SUV            8771
Sedan          4487
Coupe          2448
Hatchback      2448
Pickup         1530
Van            1377
Convertible     510
Wagon           408
Name: Body_style, dtype: int64

In [3]:
style_dict = { 'SUV' : 1,
              'Sedan': 2,
              'Coupe': 3,
              'Hatchback': 4,
              'Pickup': 5,
              'Van': 6,
              'Convertible': 7,
              'Wagon': 8}
df['Body_style'] = df['Body_style'].map(style_dict)

In [4]:
df.head()

,Name,Base_price,Body_style,Seats,Base_Engine,Base_Power,Mileage,Drive,Towing,Min_cargo_L,Front_headroom,Front_legroom,Rear_legroom,Rear_shoulder,Fuel_capacity,Batt,Range
0,2021 Acura RDX,44505,1,5,Gasoline,272.0,9.9,AWD,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0
1,2021 Acura RDX,44506,1,5,Gasoline,272.0,9.9,AWD,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0
2,2021 Acura RDX,44507,1,5,Gasoline,272.0,9.9,AWD,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0
3,2021 Acura RDX,44508,1,5,Gasoline,272.0,9.9,AWD,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0
4,2021 Acura RDX,44509,1,5,Gasoline,272.0,9.9,AWD,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0

In [5]:
df.Base_Engine.value_counts()

Gasoline    16726
Hybrid       3417
Electric     1632
Diesel        153
Hydrogen       51
Name: Base_Engine, dtype: int64

In [6]:
engine_dict = { 'Gasoline' : 1,
              'Hybrid': 2,
              'Electric': 3,
              'Diesel': 4,
              'Hydrogen': 5
              }
df['Base_Engine'] = df['Base_Engine'].map(engine_dict)

In [7]:
df.Drive.value_counts()

AWD    10759
FWD     5406
RWD     4794
4WD     1020
Name: Drive, dtype: int64

In [8]:
drive_dict = { 'AWD' : 1,
              'FWD': 2,
              'RWD': 3,
              '4WD': 4
              }
df['Drive'] = df['Drive'].map(drive_dict)

In [9]:
df.head()

,Name,Base_price,Body_style,Seats,Base_Engine,Base_Power,Mileage,Drive,Towing,Min_cargo_L,Front_headroom,Front_legroom,Rear_legroom,Rear_shoulder,Fuel_capacity,Batt,Range
0,2021 Acura RDX,44505,1,5,1,272.0,9.9,1,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0
1,2021 Acura RDX,44506,1,5,1,272.0,9.9,1,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0
2,2021 Acura RDX,44507,1,5,1,272.0,9.9,1,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0
3,2021 Acura RDX,44508,1,5,1,272.0,9.9,1,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0
4,2021 Acura RDX,44509,1,5,1,272.0,9.9,1,1500.0,835.0,39.6,41.6,38.4,56.6,65.0,0.0,654.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21979 entries, 0 to 21978
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            21979 non-null  object
 1   Base_price      21979 non-null  int64
 2   Body_style      21979 non-null  int64
 3   Seats           21979 non-null  int64
 4   Base_Engine     21979 non-null  int64
 5   Base_Power      21877 non-null  float64
 6   Mileage         19837 non-null  float64
 7   Drive           21979 non-null  int64
 8   Towing          21877 non-null  float64
 9   Min_cargo_L     20603 non-null  float64
 10  Front_headroom  19990 non-null  object
 11  Front_legroom   19429 non-null  object
 12  Rear_legroom    19633 non-null  object
 13  Rear_shoulder   20296 non-null  object
 14  Fuel_capacity   21928 non-null  float64
 15  Batt            21877 non-null  float64
 16  Range           20296 non-null  float64
dtypes: float64(7), int64(5), object(5)
memory usage: 2.9+ MB

In [11]:
df['Front_headroom']=df['Front_headroom'].astype('float64')
df['Front_legroom']=df['Front_legroom'].astype('float64')
df['Rear_legroom']=df['Rear_legroom'].astype('float64')
df['Rear_shoulder']=df['Rear_shoulder'].astype('float64')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21979 entries, 0 to 21978
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            21979 non-null  object
 1   Base_price      21979 non-null  int64
 2   Body_style      21979 non-null  int64
 3   Seats           21979 non-null  int64
 4   Base_Engine     21979 non-null  int64
 5   Base_Power      21877 non-null  float64
 6   Mileage         19837 non-null  float64
 7   Drive           21979 non-null  int64
 8   Towing          21877 non-null  float64
 9   Min_cargo_L     20603 non-null  float64
 10  Front_headroom  19990 non-null  float64
 11  Front_legroom   19429 non-null  float64
 12  Rear_legroom    19633 non-null  float64
 13  Rear_shoulder   20296 non-null  float64
 14  Fuel_capacity   21928 non-null  float64
 15  Batt            21877 non-null  float64
 16  Range           20296 non-null  float64
dtypes: float64(11), int64(5), object(1)
memory usage: 2.9+ MB

In [13]:
from sklearn.tree import DecisionTreeClassifier

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [14]:
df.isnull().sum()

Name                 0
Base_price           0
Body_style           0
Seats                0
Base_Engine          0
Base_Power         102
Mileage           2142
Drive                0
Towing             102
Min_cargo_L       1376
Front_headroom    1989
Front_legroom     2550
Rear_legroom      2346
Rear_shoulder     1683
Fuel_capacity       51
Batt               102
Range             1683
dtype: int64

In [15]:
df['Range'] = df['Range'].fillna(df['Range'].mean())
df['Batt'] = df['Batt'].fillna(df['Batt'].mean())
df['Mileage']=df['Mileage'].fillna(df['Mileage'].mean())
df['Min_cargo_L']=df['Min_cargo_L'].fillna(df['Min_cargo_L'].min())
df['Front_headroom']=df['Front_headroom'].fillna(df['Front_headroom'].mean())
df['Front_legroom']=df['Front_legroom'].fillna(df['Front_legroom'].mean())
df['Rear_legroom']=df['Rear_legroom'].fillna(df['Rear_legroom'].mean())
df['Rear_shoulder']=df['Rear_shoulder'].fillna(df['Rear_shoulder'].mean())
df['Base_Power']=df['Base_Power'].fillna(df['Base_Power'].mean())
df['Fuel_capacity']=df['Fuel_capacity'].fillna(df['Fuel_capacity'].mean())
df['Towing'] = df['Towing'].fillna(7500.0)

In [27]:
print(df[df['Mileage'].float.contains(808.0)])

AttributeError: 'Series' object has no attribute 'float'

In [16]:
#df.to_csv('ordinal.csv')

In [17]:
y_train = df['Name']
X_train = df.drop('Name', axis=1)

In [18]:
clf = DecisionTreeClassifier(max_leaf_nodes=3)
clf.fit(X_train, y_train)

DecisionTreeClassifier(max_leaf_nodes=3)

In [19]:
df.describe()

,Base_price,Body_style,Seats,Base_Engine,Base_Power,Mileage,Drive,Towing,Min_cargo_L,Front_headroom,Front_legroom,Rear_legroom,Rear_shoulder,Fuel_capacity,Batt,Range
count,21979.000000,21979.000000,21979.000000,21979.000000,21979.000000,21979.000000,21979.000000,21979.000000,21979.000000,21979.000000,21979.000000,21979.000000,21979.000000,21979.000000,21979.000000,21979.000000
mean,76430.709359,2.621912,5.007007,1.334137,311.031174,9.687160,1.821420,2523.391055,634.511625,39.893447,41.892640,32.775699,50.643028,64.809650,6.410143,642.384953
std,85546.536953,1.856511,2.054926,0.663797,150.582279,3.261131,0.928122,3911.665644,901.628129,1.896596,1.371049,10.957657,16.669446,26.436997,21.961998,136.529339
min,10398.000000,1.000000,2.000000,1.000000,78.000000,1.400000,1.000000,0.000000,0.000000,34.700000,35.800000,0.000000,0.000000,0.000000,0.000000,25.000000
25%,36482.500000,1.000000,5.000000,1.000000,201.000000,8.200000,1.000000,0.000000,340.000000,38.900000,41.100000,32.775699,52.200000,53.000000,0.000000,577.000000
50%,48923.000000,2.000000,5.000000,1.000000,280.000000,9.687160,2.000000,1000.000000,481.000000,39.893447,41.800000,35.700000,55.300000,65.000000,0.000000,642.384953
75%,78912.500000,4.000000,5.000000,1.000000,380.000000,11.300000,3.000000,4000.000000,694.000000,40.600000,42.300000,38.300000,57.400000,80.000000,0.000000,703.000000
max,599391.000000,8.000000,55.000000,5.000000,999.000000,20.500000,4.000000,31200.000000,7400.000000,56.400000,46.300000,44.300000,71.400000,157.000000,135.000000,1138.000000

In [22]:
#predict on all 16 variables
prediction = clf.predict([[150000, 3, 2, 1, 500, 12.1, 3, 0, 450.0, 39.1, 41.9, 0, 0, 63.0, 0, 640.0]])

/Users/donmiller/Downloads/miniconda3/envs/py38/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [23]:
print(prediction)

['2021 Acura RDX']